<h2 class="thank-you-h2">Thank you very much for your payment!</h2>

<button
    class="btn btn-primary thank-you-btn"
    onclick="window.location.href='@Url.Action("Index", "Home", new { area = "Dealers" })'"
>
    Return to home page
</button>